---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
import Hero from "../components/Hero.astro";
import Features from "../components/Features.astro";
import CrossPlatform from "../components/CrossPlatform.astro";
import Quote from "../components/Quote.astro";
import Footer from "../components/Footer.astro";
---

<Layout>
  <Nav />
  <main>
    <Hero />
    <Features />
    <CrossPlatform />
    <Quote />
  </main>
  <Footer />
</Layout>
